<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ConnNXJC" connectionString="Data Source=Lenovo-PC;Initial Catalog=NXJC_DEVELOP;User Id=sa;Password=jsh123+" providerName=""/>-->
    <!--<add name="ConnNXJC" connectionString="Data Source=CORPHISH;Initial Catalog=NXJC;User Id=nxjc;Password=cdy" providerName=""/>-->
    <!--<add name="ConnNXJC" connectionString="Data Source=192.168.186.48;Initial Catalog=NXJC;User Id=sa;Password=111" providerName=""/>-->
    <add name="ConnNXJC" connectionString="Data Source=192.168.101.212;Initial Catalog=NXJC;Integrated Security=False;User Id=sa;Password=nxjcjt@!2015"/>
    <!--<add name="ConnNXJC" connectionString="Data Source=192.168.101.212;Initial Catalog=NXJC_DEV;Integrated Security=False;User Id=sa;Password=nxjcjt@!2015"/>-->
    <!--<add name="ConnNXJC" connectionString="Data Source=zc286582326.oicp.net,51645;Initial Catalog=NXJC;Integrated Security=False;User Id=sa;Password=Admin123"/>-->
    <!--<add name="ConnNXJC" connectionString="Data Source=hengtech02.imwork.net,10921;Initial Catalog=NXJC_DEV;Integrated Security=False;User Id=sa;Password=nxjcjt@!2015"/>-->
    <!--<add name="ConnNXJC" connectionString="Data Source=192.168.234.110;Initial Catalog=NXJC;Integrated Security=False;User Id=sa;Password=Admin123"/>-->
    <!--<add name="ConnNXJC" connectionString="Data Source=192.168.136.240;Initial Catalog=NXJC;Integrated Security=False;User Id=sa;Password=Admin123"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>